data/
notebooks/.ipynb_checkpoints
Paperwork/~$*
.DS_Store
xcode/I\'m\ Lying\ Down/I\'m\ Lying\ Down.xcodeproj/project.xcworkspace/xcuserdata/communisthacker.xcuserdatad/UserInterfaceState.xcuserstate
**/*.rtf
.xcuserstate